#container {
   background: #004963 url('../img/cat.png') no-repeat 90px 300px / 550px 550px;
   width: 90%;
   height: 900px;
   margin: auto;
   overflow: auto;
}


a.contacts {
  background: center center no-repeat transparent;
  width: 45px;
  height: 45px;
  position: fixed;
  left: 10px;
  top: 15px;
  display: block;
  z-index: 10;
}

a.contacts:before,
a.contacts:after,
a.contacts span {
  background: #fff;
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  position: absolute;
  left: 10px;
  -webkit-transition: none .5s ease .5s;
  transition: none .5s ease .5s;
  -webkit-transition-property: transform,top,bottom,left,opacity;
  transition-property: transform,top,bottom,left,opacity;
}

a.contacts::before,
a.contacts::after,
a.contacts span {
  background: #fff;
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  position: absolute;
  left: 10px;
  -webkit-transition: none .5s ease .5s;
  transition: none .5s ease .5s;
  -webkit-transition-property: transform,top,bottom,left,opacity;
  transition-property: transform,top,bottom,left,opacity;
}

a.contacts::before,
a.contacts::after,
a.contacts span {
  background: #fff;
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  position: absolute;
  left: 10px;
  -webkit-transition: none .5s ease .5s;
  transition: none .5s ease .5s;
  -webkit-transition-property: transform,top,bottom,left,opacity;
  transition-property: transform,top,bottom,left,opacity;
}

a.contacts::before {
  top: 10px;
}

a.contacts::after {
  top: 20px;
}

nav {
  display: none;
  position: fixed;
  top: 45px;
  bottom: auto;
  left: 10px;
  right: 0;
  z-index: 99;
}

nav ul {
  float: none;
  width: 200px;
}

nav ul li a,
.size,
nav ul li {
  width: 100%;
  border-radius: 0;
  height: auto;
  margin: 0;
  line-height: 1.8;
}

.size,
nav ul li {
  font-size: 20px
}

.home header h1 {
  font-size: 50px;
  padding-right: 0;
}

header {
  background: #033d54 url(../img/CAT.png) center no-repeat;
  background-size: contain;
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-bottom: 0;
  box-sizing: border-box;
}

.contact header,
.portfolio header {
  background-size: contain;
}

.about p {
  margin-top: 50px;
}

.imagebox{
  padding: 30px 0
}

.column {
  flex: 50%;
  max-width: 50%;
}
